@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add this for font smoothing and Inter font */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
